##############################
#git ignore files / directories to be omitted from repository uploads
##############################

# Build output
##############################
/bin/
/obj/
/*.user

# VS Code or Rider settings
##############################
/.vs/
.vscode/
.idea/
*.csproj*

# Windows files
##############################
Thumbs.db
desktop.ini

# Excel temp files
##############################
~$*

# DNA/Excel-DNA
##############################
/packages/
*.xll
*.pdb

# Backup and temp
##############################
/*VOID*
*.bak
*BackupCopy.cs
